<h1><%= @budget.name %></h1>
<p>
Goal amount: <%= @budget.goal_total %>
</p>

<p>
Date to save amount by: <%= @budget.goal_date %>
</p>

<h3><u>Transactions</u></h3>
<ul class='transactions'>
<% @transactions.each do |t| %>
  <li><%= t.note %></li>
<% end %>
</ul>
