<h1>Budget App</h1>

<h2>
Here is where you could see a table of your budgets.
</h2>

Imagine a table is here.  Inside it, the budget names are linked.  Beside each name is a graph showing the budget's progress based on transactions.

