<%# Using bootstrap 'cover' example: https://getbootstrap.com/docs/3.3/examples/cover/ %>

<%# <%= stylesheet_link_tag "homepage" %> 
  <div class='jumbotron'>
    <div class='container'>
      <h1 class='display-3'>Budget App</h1>

      <h3 class='masthead-brand'>
        A place for you to create budgets, set your goal date, and track your progress to completion.
      </h3>
    </div>
  </div>

  <div class='col-md-4'>
    <p>
      <%= link_to 'Sign up.', signup_path %> 
      <br>
      <%= link_to 'Log in.', login_path %> 
    </p>
  </div>
