<nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>

  <div class='collapse navbar-collapse' id='headerNavbar'>
    <ul class='navbar-nav mr-auto'>
      <span>
        <li class='nav-item active'> 
          <%= link_to 'Home', root_path %>
        </li>
      </span>
      <span>
        <li class='nav-item'>
          <%= link_to 'Settings', edit_user_path(current_user) %>
        </li>
      </span>
    </ul>
  </div>
</nav>
